@model WebApplicationWithIdentity.ViewModels.RegisterViewModel

@{
    Layout = "../Shared/_AuthLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/authstyle.css">
</head>
<body>
    <div class="sign-form-container">
        <div class="background-image">
            <div class="sign-form">
                <div id="wrapper">
                    <h1>Sign Up</h1>
                    <form class="box" method="post" asp-controller="Account" asp-action="Register" autocomplete="off">
                        <input type="text" asp-for="Email" id="email" placeholder="email" />
                        <input type="text" asp-for="Name" id="name" placeholder="username" />
                        <input type="password" asp-for="Password" id="pass" placeholder="password" />
                        <input type="password" asp-for="PasswordConfirm" id="pass" placeholder="confirm password" />
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger text-white">
                                @Html.ValidationSummary()
                            </div>
                        }
                        <input type="submit" value="Register">
                        <div class="or-container">
                            <div class="line-separator"></div>
                            <div class="or-label">or</div>
                            <div class="line-separator"></div>
                        </div>
                        <span class="link-btn"><a asp-controller="Account" asp-action="Login">Sign in now</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>