<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home_css/homeWelcome.css" />
    @*<style>
        .welcome-content {
            color: #FFFFFF;
            font-size: 48px;
            text-align: center;
            margin: 0;
            padding-top: 200px;
        }
    </style>*@
</head>
<body>
    <div class="welcome-content">
        <h1>Welcome, @User.Identity.Name</h1>
    </div>
</body>

