<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home_css/homeWelcome.css" />
</head>
<body>
    <div class="welcome-content">
        <h1>Welcome, @User.Identity.Name</h1>
    </div>
</body>

