@model WebApplicationWithIdentity.ViewModels.ChangePasswordViewModel

<head>
    <link rel="stylesheet" href="~/css/user_css/userChangePassword.css" />
</head>
<body>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
    <div class="container justify-content-center align-items-center" style="height: 400px; background-color: #F3F3F4; width: 500px; border-radius: 15px">
        <h1>Change Password</h1>
        <form asp-action="ChangePassword" asp-controller="User" method="post">
            <div class="form-group">
                <label for="oldPassword">Old Password:</label>
                <input type="password" class="form-control" id="oldPassword" asp-for="OldPassword" required>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" class="form-control" id="newPassword" asp-for="NewPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword" required>
            </div>
            <button type="submit" class="btn btn-custom">Change Password</button>
        </form>
    </div>
</body>


@*<style>
    .btn-custom {
        color: black;
        background-color: #DDBDBB;
        border-color: #DDBDBB;
    }

        .btn-custom:hover {
            border-color: black;
        }
</style>*@


